/* Basic css styling for all such type of projects */

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: transparent;
    text-decoration: none;
}

body{
    background: rgb(24,24,24);
    color: #fff;
    overflow: hidden;
    overflow-y: scroll;
}