.contact{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    width: 100vw;
    padding: 1rem 2rem;
    flex-wrap: wrap;

}
.left-contact{
    flex-basis: 35%;
    /* border: solid red 1px; */
    padding: 1rem 2rem;
    
}
.right-contact{
    flex-basis: 60%;
    /* border: solid green 1px; */
    padding: 1rem 1.5rem;
}
.contact-img{
    width: 2rem;
    height: 2rem;
    /* margin-right: 1rem; */
}
.social-media-icon{
    width: 1.7rem;
    height: 1.7rem;
}


.left-contact>h1{
    font-size: 3rem;
    font-weight: 600;
}




.social-media{
    margin-top: 0.7rem;
}
.social-media a{
    margin-right: 1rem;
    display: inline-block;
    transition: transform 0.5s;
}
.social-media a:hover{
    transform: translateY(-5px);
}
.download-cv{
    margin-top: 1rem;
    background: #5adeff;
    color: black;
    padding: 0.8rem 0.6rem;
    display: inline-block;
    border-radius: 0.7rem;
}

.left-contact{
    width: 100%;
}
.contact-ways{
    width: 100%;
    /* border: yellow solid 1px; */
    padding: 1rem 0;
}
.contact-way{
    
    width: 100%;
    /* border: solid orange 1px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 1rem;
    margin: 1rem 0rem;
    border-radius:1rem;
    background: rgb(50,50,50);

}
.contact-way >img{
    margin-right:  0.7rem;
}
.right-contact form{
    width: 100%;

}
form input,form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 1rem;
  margin: 1rem 0;
  color: #fff;
  font-size: 1rem;
  border-radius: 6px;
}
.formsubmit-btn{
    background: #5adeff;
    border: none;
    padding: 0.7rem 1.7rem;
    border-radius: 1rem;
}

@media screen and (max-width:945px){
    .left-contact,.right-contact{
        flex-basis: 100%;
        
    }
    

}
@media screen and (max-width:400px){
    .left-contact >h1{
        font-size: 2rem;
    }
    .contact-way{
        display: flex;
        justify-content: center;
    }
    .contact-img{
        width: 1.5rem;
        height: 1.5rem;
    }
    .social-media{
        margin-top: 0.5rem;
    }
}
