.navbar{
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    font-size: 15px;
    background: rgb(30,30,30);
}
.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}
.nav-item{
    margin: 1rem;
    cursor: pointer;
}
.nav-item:hover{
    color: #5adeff;
    border-bottom: solid #5adeff 3px;
    padding-bottom: 1px;
}
.contact-btn{
    background-color: #5adeff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    cursor: pointer;
}
.contact-imgg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 0.91rem;

}

.active{
    color: #5adeff;
}

.mobmenu{
    display: none;
    object-fit: cover;
    height: 1.8rem;

}
.nav-menu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40,40,40);
    border-radius: 1rem;
    cursor: pointer;


}
.listt-item{
    color: #fff;
    padding: 0.5rem 3rem;
    margin: 0.25rem ;
    background: rgb(30,30,30);
    border-radius: 1rem;
}

@media screen and (max-width:720px){
    .mobmenu{
        display: flex;
        cursor: pointer;
    }
    .nav-items{
        display: none;
    }
    .contact-btn{
        display: none;
    }
    
}